<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <div class="row question">
                <div class="col-md-8">
                    Relative to other participants who completed this same round, how well do you think you did
                </div>
                <div class="col-md-4">
                    <select id="relative" name="relative">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Top 10% of Participants </option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5- Average </option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Bottom 10% of Participants</option>
                    </select>
                </div>
            </div>


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is your maximum effort), please rate how <b>HARD</b> you tried on the previous round of the game:
                </div>
                <div class="col-md-4">
                    <select id="effort" name="effort">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Maximum Effort</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - No Effort</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the previous round of the game:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the completely motivated), please rate how <b>MOTIVATED</b> you felt the previous round of the game:
                </div>
                <div class="col-md-4">
                    <select id="motivation" name="motivation">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Completely Motivated</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Neither Motivated nor Unmotivated</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Completely Unmotivated</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is completely exhausted), please rate how <b>TIRED</b> you feel right now.:
                </div>
                <div class="col-md-4">
                    <select id="tired" name="tired">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Completely Exhausted</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Neither Exhausted nor Energized</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Completely Energized</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is extremely good), please rate your <b>MOOD</b> right now.:
                </div>
                <div class="col-md-4">
                    <select id="mood" name="mood">
                        <option value="11" SELECTED> Please Select</option>
                        <option value="10">10 - Extremely Good</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Neither Good nor Bad</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Extremely Bad</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
