<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		   Thank you for agreeing to help us with this experiment. We have have a game for you to play. This is a long game, and should take about 45 minutes to finish.
            Please take the game seriously and give your best effort.

        </p>

        <p>
            We are studying your experience with this task, so please respond honestly. If you are losing interest, please let us know. If you didn't try hard for a section,
            please let us know. There are no consequences, and nothing you say will affect your credit. However lying or mis-representing your effort would ruin our study.


        </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
