<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
           In this game, the more times you are able to press the button, the more points you will earn.
            Your goal in this task is to earn as many points as possible. However, some trials will be more rewarding than


            <br>

            <br>
            <br>

            One hint: sometimes the keys associated with each color and shape will change unexpectedly, so be ready to switch.

            <br>
            <br>
            <br>


            There will be 40 short rounds of this game. The colors targets will be the same, but some of the shape targets will change between versions of the game.

            <br>

            Some of these rounds will be bonus rounds. You can win twice as many points on these rounds. You will be told before the round starts whether or not it
            is a bonus round.



            <br>
            <br>


            Be ready to put your fingers on the "s", "d", "f" keys and the "j","k","l"




        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())c43
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
