<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>

        </p>
            <br>
            <br>
            <br>


            <p>There will be 24 short rounds of this game. After each round you will be asked to describe the experience. These questions are repetitive, but it is very important that you take them seriously.</p>


            <br>
            <br>

            <p>You will first begin a practice round where you will see no X's. This should help you get a feel for the game. Please try to respond as fast as possible.</p>



            <br>
            <br>

            <p>
        If you see a red "Error" after your trial, it means you pressed the wrong button. If you see a red "Too Slow", it means you need to respond faster.
                If you see a red "Don't Press", it means the black "X" came on the screen and you still pressed a button. If you see a green "Good", then you are doing everything correctly.


    </p>

        <p>



            Be ready to put your fingers on the  "f" key and the "j" key.




        </p>

        <br>
        <br>
        <br>


        <p>Thank You!</p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())c43
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
