<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
           You may see two messages after each trial. If you are not pressing the button fast enough or enough times, you will be told you need to respond
            "faster". If you have made too many errors, by either pressing the wrong button, or by pressing a button after the "X" appears,
            you will be told "careful". You will see no message if you have responded correctly and rapidly.

            <br>

            <br>
            <br>

            One hint: sometimes the keys associated with each color and shape will change unexpectedly, so be ready to switch.

            <br>
            <br>
            <br>


            You will play this 12 times. The colors targets will be the same, but some of the shape targets will sometimes change between versions.

            <br>
            <br>


            Thank you!

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())c43
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
